.c-property__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
  align-items: flex-start;
}

.c-property__header {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 12px 0;
}

.c-property__header > h1,
h2,
h3,
h4 {
  margin: 4px 0;
}
